.home-container{
    background-color: $white-color;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    .btn_add-movies{
        background-color: $secondary-color;
        color: $white-color;
        font-weight: 600;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        transition: border-radius 1.8s, background-color 1.8s;
        &:hover{
        background-color:  saturate($secondary-color, 30%);;
        border-radius: 20px;
        transition: .8s all;
            
        }
    }
}