.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .active{
    border-radius: 50%;
    text-decoration: underline;
   }
   #{$a-tags-hover} {
    color: $text-color;
    transition: 0.4s all;
  }
   & > a{
    font-weight: 600;
    text-transform: uppercase;
   }
}