.card-container{
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: $sm-heading;
    box-shadow: 0px 0px 11px 3px rgba(148,148,148,0.18);
    &  p{
        margin: 0;
    }
    &:hover{
    box-shadow: 10px 0px 11px 3px rgba(148,148,148,0.88);
        transition: 0.6s all;
    }
    .img-container{
        display: flex;
    }
    img{
        width: 100%;
    }
    .card-title{
        color: $primary-color;
        font-weight: 600;
    }
    .card-date{
        color: $text-color;
    }
    .card-content{
        padding: 10px;
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
  .label_popularity{
    margin-top: .5rem;
    span{
       margin-left: 5px; 
    }
  }
}