//Colors
$primary-color: #343A40;
$black-color: #212529;
$text-color: #6C757D;
$white-color:#F8F9FA;

//Font-size
$lg-heading:32px;
$md-heading:24px;
$sm-heading:16px;

//Screen breakpoints
$sm-phone:360px;
$tablet:960px;
$desktop:1200px;
$lg-desktop:1600px;

//Font-family
$primary-ff: 'Inter';
$secondar-ff: sans-serif;

//Selection
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: 'a:active, a:hover';